@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
}

.btn {
    padding: .5rem 0;
}

.modal {
    background-color: rgba(100, 128, 225, 0.1);
}

body {
    font-family: 'Poppins';
}

.hover:hover * {
    color: var(--BW-blue) !important;
}

.pe-2-5 {
    padding-right: .75rem !important
}

.fs-7 {
    font-size: 1rem;
}

.fs-8 {
    font-size: .75rem;
}

.text-gray {
    color: var(--bs-gray-600);
}

.text-ellipsis,
.text-ellipsis * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바의 너비 */
}

.scrollable-menu::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #217af4;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

.scrollable-menu::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
    /*스크롤바 뒷 배경 색상*/
}


.table.table-bordered {
    border: 1px solid #ebedf2;
}

.table thead tr th {
    background-color: var(--BW-form-color);
}

.form-check-input:checked~label,
.form-check-input[checked]~label {
    color: black;
}

.bc-white {
    border-color: #fff;
}

.border-gray {
    border-color: var(--bs-gray-100);
}

.dropdown-item {
    padding: 0;
}

.dropdown-item * {
    margin: auto;
    padding: 0.25rem;
}

/***********************/
/*      nav bar        */
/***********************/
.header-container {
    background: #fff;
    z-index: 1030;
    position: fixed;
    top: 0;
    /* margin-top: 10px; */
    right: 0;
    left: 0px;
    -webkit-transition: 0.3s left, 0s padding;
    transition: 0.3s left, 0s padding;
    backdrop-filter: blur(31px);
    padding: 11px 20px 11px 16px;
    height: 60px;
    width: 100%;
}

.navbar-item svg,
.navbar-item img {
    width: 30px;
    height: 30px;
}

.profileImage img {
    width: 40px;
    height: 40px;
}

.reply .profileImage img {
    width: 50px;
    height: 50px;
}
/************************/
/*      nav bar end     */
/************************/
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}

.breadcrumb {
    background: #fff;
    top: 60px;
    /* margin-top: 10px; */
    padding: 20px 20px 20px 20px;
    min-height: 60px;
    /* box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.14), 0 1px 18px 0 rgba(255, 255, 255, 0.12), 0 3px 5px -1px rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(224, 230, 237, 0.9) !important; */
    /* border: 1px solid #e0e6ed; */
}

.main-menu {
    color: var(--BW-blue);
}

.br-circle {
    border-radius: 50%;
}

.form-check-input.br-circle {
    border-radius: 50%;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}

.btr-15 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bbr-15 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.br-20 {
    border-radius: 20px;
}

.btr-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.widget .box {
    background: #fff;
    padding: 0px 8px 0px;
    border: 1px solid #e0e6ed;
}

.file .btn {
    position: relative;
    overflow: hidden;
}

.chatMark {
    position: fixed;
    z-index: 9999;
    right: 5%;
    bottom: 5%;
}

.chatMark i {
    font-size: 50px;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center;
    /* 위아래 기준 중앙정렬 */
    justify-content: center;
    /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
    border-radius: 10px;
    max-width: 100%;
    /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.swiper-btn-prev,
.swiper-btn-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-btn-prev {
    left: 0px;
}

.swiper-btn-next {
    right: 0px;
}

.swiper-indicator {
    /* position: absolute; */
    text-align: center;
    word-spacing: 20px;
    letter-spacing: 5px;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.btn>h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

ul div.main-menu h5 {
    color: rgb(51, 51, 51);
}

h5 {
    color: rgb(102, 102, 102);
}

.h6 {
    color: #000;
}

.preview img {
    width: 100%;
    height: 100%;
}

.mark.mark-outline-new {
    font-size: xx-small;
    color: #e2a03f !important;
    background-color: transparent;
    border: 1px solid #e2a03f;
    border-radius: 5px;
    padding: 0 1rem;
}

/************************/
/*      gallery        */
/************************/
.gallery {
    position: relative
}

.gallery-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.gallery-prev,
.gallery-next {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.like {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.like>.active {
    color: red;
}

/************************/
/*      gallery end     */
/************************/

/************************/
/*      progress        */
/************************/
.progress-card-name {
    margin-top: 5px;
    padding-left: 2vw;
}

.progress-card-body {
    margin-top: 10px;
    flex-grow: 1;
}

.progress-card-img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.progress-card-img img {
    width: 100px;
    height: 100px;
}

.progress-0 {
    background-color: var(--BW-progress-0);
}

.progress-1 {
    background-color: var(--BW-progress-1);
}

.progress-2 {
    background-color: var(--BW-progress-2);
}

.progress-3 {
    background-color: var(--BW-progress-3);
}

.progress-4 {
    background-color: var(--BW-progress-4);
}

.progress-5 {
    background-color: var(--BW-progress-5);
}

.progress-6 {
    background-color: var(--BW-progress-6);
}

.progress-7 {
    background-color: var(--BW-progress-7);
}

.progress-8 {
    background-color: var(--BW-progress-8);
}

.progress-card {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.stepper-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

.step-name {
    text-align: center;
    padding: 5px;
    font-size: small;
    color: rgb(77, 77, 77);
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--BW-progress-default);
    width: 100%;
    top: 10px;
    left: -50%;
    z-index: 2;
}

/* .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--BW-progress-default);
    width: 100%;
    top: 10px;
    left: 50%;
    z-index: 2;
} */

.stepper-item .step-counter {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 6px;
    border: 1px solid var(--BW-progress-default);
}

.stepper-item._0.active .step-counter,
.stepper-item._1.active .step-counter,
.stepper-item._2.active .step-counter {
    border-color: var(--BW-progress-group-0);
}

.stepper-item._3.active .step-counter {
    border-color: var(--BW-progress-group-1);
}

.stepper-item._4.active .step-counter,
.stepper-item._5.active .step-counter,
.stepper-item._6.active .step-counter {
    border-color: var(--BW-progress-group-2);
}

.stepper-item._7.active .step-counter,
.stepper-item._8.active .step-counter {
    border-color: var(--BW-progress-group-3);
}

/* .stepper-item.active {
    font-weight: bold;
} */

/* .stepper-item.active .step-counter {
    background-color: #ff0;
} */

.stepper-item.active::before {
    z-index: 5;
    border-bottom-style: dashed;
}

.stepper-item._0.active::before,
.stepper-item._1.active::before,
.stepper-item._2.active::before {
    border-color: var(--BW-progress-group-0);
}

.stepper-item._3.active::before {
    border-color: var(--BW-progress-group-1);
}

.stepper-item._4.active::before,
.stepper-item._5.active::before,
.stepper-item._6.active::before {
    border-color: var(--BW-progress-group-2);
}

.stepper-item._7.active::before,
.stepper-item._8.active::before {
    border-color: var(--BW-progress-group-3);
}

.stepper-item.completed .step-counter {
    border: 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.stepper-item.completed._0 .step-counter,
.stepper-item.completed._1 .step-counter,
.stepper-item.completed._2 .step-counter {
    background-color: var(--BW-progress-group-0);
}

.stepper-item.completed._3 .step-counter {
    background-color: var(--BW-progress-group-1);
}

.stepper-item.completed._4 .step-counter,
.stepper-item.completed._5 .step-counter,
.stepper-item.completed._6 .step-counter {
    background-color: var(--BW-progress-group-2);
}

.stepper-item.completed._7 .step-counter,
.stepper-item.completed._8 .step-counter {
    background-color: var(--BW-progress-group-3);
}

/* .stepper-item.completed::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #00f;
    width: 100%;
    top: 5px;
    left: 50%;
    z-index: 3;
} */

.stepper-item.completed::before {
    position: absolute;
    /* content: ""; */
    border-bottom: 2px solid;
    width: 100%;
    top: 10px;
    left: -50%;
    z-index: 3;
}

.stepper-item._0.completed::before,
.stepper-item._1.completed::before,
.stepper-item._2.completed::before {
    border-color: var(--BW-progress-group-0);
}

.stepper-item._3.completed::before {
    border-color: var(--BW-progress-group-1);
}

.stepper-item._4.completed::before,
.stepper-item._5.completed::before,
.stepper-item._6.completed::before {
    border-color: var(--BW-progress-group-2);
}

.stepper-item._7.completed::before,
.stepper-item._8.completed::before {
    border-color: var(--BW-progress-group-3);
}

.stepper-item:first-child::before {
    z-index: 8;
    border-color: #fff !important;
    width: 50%;
    left: 0%;
}

.stepper-item:last-child::after {
    content: none;
}

.bg-gray {
    --bs-bg-opacity: 1;
    background-color: rgba(224, 230, 237, 0.9) !important
}

.bg-darkgray {
    --bs-bg-opacity: 1;
    background-color: #767676 !important
}

.align-placeholder::placeholder {
    color: #888ea8;
    font-size: 15px;
    text-align: start;
}

.align-placeholder::-webkit-input-placeholder,
.align-placeholder::-ms-input-placeholder,
.align-placeholder::-moz-placeholder {
    color: #888ea8;
    font-size: 15px;
    text-align: start;
}

.btn-outline-gray {
    border: 1px solid #bfc9d4 !important;
    color: #3b3f5c !important;
    background-color: transparent;
    box-shadow: none;
}

.btn-check:active+.btn-outline-gray,
.btn-check:checked+.btn-outline-gray {
    background-color: #bfc9d4 !important;
    color: #fff !important;
}

.btn-outline-gray.active,
.btn-outline-gray.dropdown-toggle.show,
.btn-outline-gray:active {
    background-color: #bfc9d4 !important;
    color: #fff !important;
}

.outline-gray {
    border: 1px solid #bfc9d4 !important;
    color: #3b3f5c !important;
    background-color: transparent;
    box-shadow: none;
}

:root {
    --line-border-empty: #D9D9D9;
    --line-border-fill: yellow;
}

.progress-container::before {
    content: "";
    background: var(--line-border-empty);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    min-height: 40px;
}

.progress {
    background: var(--line-border-fill);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 2;
    opacity: 0.5;
    transition: 0.4s ease;
    border-right: 2px solid #000;
}

/************************/
/*      sidebar        */
/************************/
#sidebar ul.menu-categories {
    font-weight: bolder;
}

#sidebar ul.menu-categories div.main-menu,
#sidebar ul.menu-categories li div {
    padding-left: 20px;
}

#sidebar ul.menu-categories .main-menu {
    margin-top: 30px;
    margin-bottom: 10px;
}

#sidebar ul.menu-categories li:hover {
    background-image: url('/images/menu-hover-effect.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/************************/
/*      sidebar end     */
/************************/

.w-20 {
    width: 20%;
}

/************************/
/*      gallery         */
/************************/
#largeImg {
    width: 100%;
    border-radius: 10px;
}

#thumbs {
    border-radius: 10px;
}

#thumbs .select img {
    border: 1px solid black;
}

#thumbs img:hover {
    border: 1px solid black;
}

#gallery-btn-heart {
    position: absolute;
    top: 10%;
    right: 10%;
}

#gallery-btn-prev {
    position: absolute;
    top: 50%;
    left: 0;
}

#gallery-btn-next {
    position: absolute;
    top: 50%;
    right: 0;
}


/************************/
/*      gallery         */
/************************/