@font-face {
    font-family: 'Poppins';
    src: url('/fonts/NeonPlanetDisplay.ttf') format('truetype');
}

body {
	font-family: 'Poppins';
}

.navbar-item svg, .navbar-item img {
    width: 30px;
    height: 30px;
}

.profileImage img{
    width: 40px;
    height: 40px;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.breadcrumb {
    background: #fff;
    top: 60px;
    /* margin-top: 10px; */
    padding: 11px 20px 11px 20px;
    min-height: 60px;
    box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.14), 0 1px 18px 0 rgba(255, 255, 255, 0.12), 0 3px 5px -1px rgba(255, 255, 255, 0.2);
    background-color: rgba(224, 230, 237, 0.9) !important;
    border: 1px solid #e0e6ed;
}

.br-circle {
    border-radius: 50%;
}

.form-check-input.br-circle {
    border-radius: 50%;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}

.btr-15 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bbr-15 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.br-20 {
    border-radius: 20px;
}

.btr-20 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.widget .box {
    background: #fff;
    padding: 0px 8px 0px;
    border: 1px solid #e0e6ed;
}

.widget-content-area {
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #fff;
}

.file .btn {
    position: relative;
    overflow: hidden;
}

.chatMark {
    position: fixed;
    z-index: 9999;
    right: 5%;
    bottom: 5%;
}

.chatMark i {
    font-size: 50px;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center;
    /* 위아래 기준 중앙정렬 */
    justify-content: center;
    /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
    border-radius: 10px;
    max-width: 100%;
    /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.swiper-btn-prev,
.swiper-btn-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-btn-prev {
    left: 0px;
}

.swiper-btn-next {
    right: 0px;
}

.swiper-indicator {
    /* position: absolute; */
    text-align: center;
    word-spacing: 20px;
    letter-spacing: 5px;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.btn>h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.preview>img {
    width: 100%;
    height: 100%;
}

/************************/
/*      step bar        */
/************************/
.stepper-wrapper {
    font-family: Arial;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    word-break: break-all;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #00f;
    width: 100%;
    top: 5px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #00f;
    width: 100%;
    top: 5px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 6px;
    border: 1px solid #00f;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.active .step-counter {
    background-color: #ff0;
}

.stepper-item.completed .step-counter {
    background-color: #00f;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #00f;
    width: 100%;
    top: 5px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

.bg-gray {
    --bs-bg-opacity: 1;
    background-color: rgba(224, 230, 237, 0.9) !important
}

.bg-darkgray {
    --bs-bg-opacity: 1;
    background-color: #767676 !important
}

.align-placeholder::placeholder {
    color: #888ea8;
    font-size: 15px;
    text-align: center;
}

.align-placeholder::-webkit-input-placeholder,
.align-placeholder::-ms-input-placeholder,
.align-placeholder::-moz-placeholder {
    color: #888ea8;
    font-size: 15px;
    text-align: center;
}

.btn-outline-gray {
    border: 1px solid #bfc9d4 !important;
    color: #3b3f5c !important;
    background-color: transparent;
    box-shadow: none;
}

.btn-check:active+.btn-outline-gray,
.btn-check:checked+.btn-outline-gray {
    background-color: #bfc9d4 !important;
    color: #fff !important;
}

.btn-outline-gray.active,
.btn-outline-gray.dropdown-toggle.show,
.btn-outline-gray:active {
    background-color: #bfc9d4 !important;
    color: #fff !important;
}

.outline-gray {
    border: 1px solid #bfc9d4 !important;
    color: #3b3f5c !important;
    background-color: transparent;
    box-shadow: none;
}

:root {
    --line-border-empty: #D9D9D9;
    --line-border-fill: yellow;
}

.progress-container::before {
    content: "";
    background: var(--line-border-empty);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    min-height: 40px;
}

.progress {
    background: var(--line-border-fill);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 2;
    opacity: 0.5;
    transition: 0.4s ease;
    border-right: 2px solid #000;
}