:root {
  --bw-color-51: rgb(51, 51, 51);
  --bw-color-77: rgb(77, 77, 77);
  --bw-color-128: rgb(128, 128, 128);
  --bw-color-148: rgb(148, 148, 148);
  --bw-color-179: rgb(179, 179, 179);
  --bw-color-225: rgb(225, 225, 225);
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

html {
  font-size: 64%;
}

body {
  letter-spacing: 0.01rem;
  font-family: "Poppins";
}

option {
  background-color: #fff;
}

textarea {
  border-color: white;
}

a {
  font-size: 1.125rem;
  color: currentColor;
}

div {
  font-size: 1.25rem;
}

strong {
  font-weight: 600;
}

ul {
  margin: 0;
}

.widget-content-area {
  padding: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  color: rgb(128, 128, 128);
}

h6,
.h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  color: rgb(51, 51, 51);
}

h5,
.h5 {
  font-size: 1.375rem;
  margin: 0;
}

.text-gray-500 {
  color: var(--bw-color-128);
}

.btn {
  font-size: 1.378rem;
}

.border-bottom {
  border-bottom: 1px solid rgb(227, 227, 227) !important;
}

.box-shadow {
  border: 0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/***********************/
/*      nav bar        */
/***********************/
:root {
  --bw-nav-h: 5rem;
}

.nav-container {
  background: #fff;
  z-index: 1030;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--bw-nav-h);
  width: 100%;
  border-bottom: 0.5px solid rgb(179, 179, 179);
  padding-left: 1.7rem;
  padding-right: 3.5rem;
}

.nav-container .nav-item img.logo {
  width: 15.8rem;
  height: 2.3rem;
}

.navbar-item svg {
  width: 1.8rem;
  height: 1.8rem;
}

.navbar-item img.profileImage {
  width: 2.8rem;
  height: 2.8rem;
}

.navbar.navbar-expand-sm .navbar-item .nav-item {
  margin-left: 1.5rem;
}

/************************/
/*      nav bar end     */
/************************/

/************************/
/*      sidebar        */
/************************/
:root {
  --bw-sidebar-w: 19.375rem;
}

.sidebar-wrapper {
  margin-top: 5rem;
  height: calc(100vh - var(--bw-nav-h));
  width: var(--bw-sidebar-w);
}

.sidebar-theme {
  background-color: rgb(241, 243, 246);
}

#sidebar .profile {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  padding-left: 2.35rem;
}

#sidebar .profile .profileImage {
  width: 5rem;
  height: 5rem;
}
#sidebar .profile img {
  width: 4.2rem;
  height: 4.2rem;
}

#sidebar .profile .profileInfo {
  width: 10rem;
  padding: 0.57rem;
}

#sidebar .profile .profileInfo .name {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(26, 26, 26);
}
#sidebar .profile .profileInfo .company {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(147, 147, 147);
}

#sidebar ul.menu-categories {
  overflow-y: auto;
  padding: 0;
  font-size: 1.125rem;
  align-items: center;
}

#sidebar ul.menu-categories svg {
  width: 1.1rem;
}

#sidebar ul.menu-categories li.menu {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

#sidebar ul.menu-categories > * {
  padding-left: 4.05rem;
  color: rgb(51, 51, 51);
}

#sidebar ul.menu-categories > div {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

#sidebar ul.menu-categories .submenu {
  color: rgb(102, 102, 102);
  padding-left: 0.75rem;
}

#sidebar ul.menu-categories li.menu.custom-active,
#sidebar ul.menu-categories li:hover {
  background-image: url("/images/menu-hover-effect.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebar ul.menu-categories li.menu.custom-active div,
#sidebar ul.menu-categories li:hover div {
  color: rgb(0, 128, 224);
}

#sidebar ul.menu-categories li a {
  width: 100%;
}
#sidebar ul.menu-categories li a:hover {
  color: currentColor;
}
/************************/
/*     sidebar end     */
/************************/

/************************/
/*     container        */
/************************/
#content {
  margin-top: var(--bw-nav-h);
  margin-left: var(--bw-sidebar-w);
}
/************************/
/*    container end     */
/************************/

/************************/
/*      breadcrumb      */
/************************/

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  background: #fff;
  padding-left: 1.25rem;
}

.breadcrumb .main-menu {
  color: rgb(0, 128, 224);
  font-size: 1.5rem;
  font-weight: 500;
}

.breadcrumb .menu {
  font-size: 2.375rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
}
/************************/
/*   breadcrumb end     */
/************************/

ul.info {
  list-style: "· ";
}

ul.info li p {
  color: #000;
}

.btn {
  padding: 0.5rem 0;
}

.hover:hover * {
  cursor: pointer;
  color: var(--BW-blue) !important;
}

.pe-2-5 {
  padding-right: 0.75rem !important;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.project-title > span {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

div.fs-2rem > * {
  font-size: 2rem;
}

.fs-7 {
  font-size: 1rem;
}

.fs-8 {
  font-size: 0.875rem;
}

.text-gray {
  color: var(--bs-gray-600);
}

.border-gray {
  border-color: rgb(178, 178, 178) !important;
}

.text-ellipsis,
.text-ellipsis * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

.scrollable-menu::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #217af4;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

.scrollable-menu::-webkit-scrollbar-track {
  background: var(--BW-form-color);
  /*스크롤바 뒷 배경 색상*/
}

.bc-white {
  border-color: #fff !important;
}

/************************/
/*      dropdown        */
/************************/

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown)
  .dropdown-menu
  .dropdown-item
  a:hover,
.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown)
  .dropdown-menu
  a.dropdown-item:hover {
  color: #fff;
  background-color: #1e90ff;
}

.dropdown-item {
  padding: 0;
}

.dropdown-menu {
  padding: 1rem;
}

.dropdown-menu .dropdown-item > * {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.25rem 0.5rem;
}

.dropdown-menu .dropdown-item > label {
  font-size: 1.25rem;
}

/************************/
/*      dropdown end    */
/************************/

/************************/
/*         table        */
/************************/
.table {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(77, 77, 77);
}
.table.table-bordered {
  border: 2px solid #ebedf2;
}

.table thead tr th {
  color: #000;
  font-weight: 500;
  background-color: rgb(241, 243, 246);
}

.table > :not(caption) > * > td {
  padding: 0.75rem 1.25rem;
}

.table tbody tr {
  border-bottom: 2px solid rgb(225, 225, 225);
}

.table-bordered > tbody > tr td {
  border: 2px solid rgb(227, 227, 227);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

/************************/
/*        table end     */
/************************/

/***********************/
/*      tooltip        */
/***********************/

.tooltip-inner {
  font-weight: normal;
  white-space: pre-line;
  width: auto;
  max-width: 50vw;
}

/***********************/
/*     tooltip end     */
/***********************/

/************************/
/*      image           */
/************************/

.card-preview {
  position: relative;

  width: 100%;
  padding-bottom: 100%;
  /* --url : attr(data-url); */
  /* background-image: url(--url); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.preview img {
  width: 100%;
  height: 100%;
}

.profileImage img {
  width: 40px;
  height: 40px;
}

.reply .profileImage img {
  width: 50px;
  height: 50px;
}

/************************/
/*      image end       */
/************************/

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100%;
  }
}

.br-circle {
  border-radius: 50%;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.br-15 {
  border-radius: 15px;
}

.btr-15 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bbr-15 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.br-20 {
  border-radius: 20px;
}

.btr-20 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.widget .box {
  background: #fff;
  padding: 0px 8px 0px;
  border: 1px solid #e0e6ed;
}

.file .btn {
  position: relative;
  overflow: hidden;
}

.chatMark {
  position: fixed;
  z-index: 9999;
  right: 5%;
  bottom: 5%;
}

.chatMark i {
  font-size: 50px;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items: center;
  /* 위아래 기준 중앙정렬 */
  justify-content: center;
  /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
  border-radius: 10px;
  max-width: 100%;
  /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.swiper-btn-prev,
.swiper-btn-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-btn-prev {
  left: 0px;
}

.swiper-btn-next {
  right: 0px;
}

.swiper-indicator {
  /* position: absolute; */
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 5px;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.btn > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

ul div.main-menu h5 {
  color: rgb(51, 51, 51);
}

h4 {
  color: rgb(102, 102, 102);
}

.h6 {
  color: #000;
}

.mark.mark-outline-new {
  font-size: xx-small;
  color: #e2a03f !important;
  background-color: transparent;
  border: 1px solid #e2a03f;
  border-radius: 5px;
  padding: 0 1rem;
}

/************************/
/*      gallery        */
/************************/
.gallery {
  position: relative;
}

.gallery-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-prev,
.gallery-next {
  position: absolute;
  top: 5rem;
  bottom: 5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.like {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.like > .active {
  color: red;
}

/************************/
/*      gallery end     */
/************************/

/************************/
/*      progress        */
/************************/

.progress-card {
  display: flex;
  align-items: center;
  height: 14.375rem;
  padding-left: 3.125rem;
  margin-bottom: 1.875rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.progress-card-name {
  margin-top: 5px;
  padding-left: 2vw;
}

.progress-card-body {
  margin-top: 10px;
  flex-grow: 1;
}

.progress-card-img {
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 5px;
}

.progress-card-img img {
  width: 100%;
  height: 100%;
}

.progress-0 {
  background-color: var(--BW-progress-0);
}

.progress-1 {
  background-color: var(--BW-progress-1);
}

.progress-2 {
  background-color: var(--BW-progress-2);
}

.progress-3 {
  background-color: var(--BW-progress-3);
}

.progress-4 {
  background-color: var(--BW-progress-4);
}

.progress-5 {
  background-color: var(--BW-progress-5);
}

.progress-6 {
  background-color: var(--BW-progress-6);
}

.progress-7 {
  background-color: var(--BW-progress-7);
}

.progress-8 {
  background-color: var(--BW-progress-8);
}

.stepper-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  word-break: break-word;
}

.step-name {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(148, 148, 148);
}

.stepper-item.active .step-name,
.stepper-item.completed .step-name {
  color: rgb(77, 77, 77);
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 0.61rem;
  border: 2px solid rgb(225, 225, 225);
}

.stepper-item._0.active .step-counter,
.stepper-item._1.active .step-counter,
.stepper-item._2.active .step-counter {
  border-color: var(--BW-progress-group-0);
}

.stepper-item._3.active .step-counter {
  border-color: var(--BW-progress-group-1);
}

.stepper-item._4.active .step-counter,
.stepper-item._5.active .step-counter,
.stepper-item._6.active .step-counter {
  border-color: var(--BW-progress-group-2);
}

.stepper-item._7.active .step-counter,
.stepper-item._8.active .step-counter {
  border-color: var(--BW-progress-group-3);
}

/* .stepper-item.active {
    font-weight: bold;
} */

/* .stepper-item.active .step-counter {
    background-color: #ff0;
} */

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(225, 225, 225);
  width: 100%;
  top: 0.75rem;
  left: -50%;
  z-index: 2;
}

.stepper-item.completed::before {
  top: 0.625rem;
  border-width: 6px;
}

.stepper-item.active::before {
  top: 0.6875rem;
  border-width: 4px;
  border-bottom-style: dashed;
}

.stepper-item._0.active::before,
.stepper-item._1.active::before,
.stepper-item._2.active::before {
  border-color: var(--BW-progress-group-0);
}

.stepper-item._3.active::before {
  border-color: var(--BW-progress-group-1);
}

.stepper-item._4.active::before,
.stepper-item._5.active::before,
.stepper-item._6.active::before {
  border-color: var(--BW-progress-group-2);
}

.stepper-item._7.active::before,
.stepper-item._8.active::before {
  border-color: var(--BW-progress-group-3);
}

.stepper-item.completed .step-counter {
  border: 0px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
  background-size: 60% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.stepper-item.completed._0 .step-counter,
.stepper-item.completed._1 .step-counter,
.stepper-item.completed._2 .step-counter {
  background-color: var(--BW-progress-group-0);
}

.stepper-item.completed._3 .step-counter {
  background-color: var(--BW-progress-group-1);
}

.stepper-item.completed._4 .step-counter,
.stepper-item.completed._5 .step-counter,
.stepper-item.completed._6 .step-counter {
  background-color: var(--BW-progress-group-2);
}

.stepper-item.completed._7 .step-counter,
.stepper-item.completed._8 .step-counter {
  background-color: var(--BW-progress-group-3);
}

.stepper-item._0.completed::before,
.stepper-item._1.completed::before,
.stepper-item._2.completed::before {
  border-color: var(--BW-progress-group-0);
}

.stepper-item._3.completed::before {
  border-color: var(--BW-progress-group-1);
}

.stepper-item._4.completed::before,
.stepper-item._5.completed::before,
.stepper-item._6.completed::before {
  border-color: var(--BW-progress-group-2);
}

.stepper-item._7.completed::before,
.stepper-item._8.completed::before {
  border-color: var(--BW-progress-group-3);
}

.stepper-item:first-child::before {
  z-index: 8;
  border-color: #fff !important;
  width: 50%;
  left: 0%;
}

.stepper-item:last-child::after {
  content: none;
}

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: var(--bs-gray-300) !important;
}

.bg-darkgray {
  --bs-bg-opacity: 1;
  background-color: #767676 !important;
}

.btn-outline-gray {
  border: 1px solid #bfc9d4 !important;
  color: #3b3f5c !important;
  background-color: transparent;
  box-shadow: none;
}

.btn-check:active + .btn-outline-gray,
.btn-check:checked + .btn-outline-gray {
  background-color: #bfc9d4 !important;
  color: #fff !important;
}

.btn-outline-gray.active,
.btn-outline-gray.dropdown-toggle.show,
.btn-outline-gray:active {
  background-color: #bfc9d4 !important;
  color: #fff !important;
}

.outline-gray {
  border: 1px solid #bfc9d4 !important;
  color: #3b3f5c !important;
  background-color: transparent;
  box-shadow: none;
}

:root {
  --line-border-empty: #d9d9d9;
  --line-border-fill: yellow;
}

.progress-container::before {
  content: "";
  background: var(--line-border-empty);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  min-height: 40px;
}

.progress {
  background: var(--line-border-fill);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 2;
  opacity: 0.5;
  transition: 0.4s ease;
  border-right: 2px solid #000;
}

.w-20 {
  width: 20%;
}

/************************/
/*      gallery         */
/************************/
#largeImg {
  width: 100%;
  border-radius: 10px;
}

#thumbs {
  border-radius: 10px;
}

#thumbs .select img {
  border: 0px solid black;
}

#thumbs img:hover {
  border: 1px solid black;
}

#gallery-btn-heart {
  position: absolute;
  top: 10%;
  right: 10%;
}

#gallery-btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
}

#gallery-btn-next {
  position: absolute;
  top: 50%;
  right: 0;
}

/************************/
/*      gallery         */
/************************/

/************************/
/*      modal           */
/************************/

.modal {
  background: rgba(202, 219, 237, 0.6);
}

.modal-content .modal-header .btn-close svg {
  width: 1rem;
  height: 1rem;
  color: rgb(125, 128, 128);
}

/************************/
/*      modal end       */
/************************/

/************************/
/*      form-input      */
/************************/

input::placeholder {
  color: rgb(150, 150, 150);
  font-size: 1.25rem;
  font-weight: 300;
}

.align-placeholder::placeholder {
  color: #888ea8;
  text-align: start;
}

.align-placeholder::-webkit-input-placeholder,
.align-placeholder::-ms-input-placeholder,
.align-placeholder::-moz-placeholder {
  color: #888ea8;
  text-align: start;
}

textarea::placeholder {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgb(153, 153, 153);
}

.form-check-input.br-circle {
  border-radius: 50%;
}

.form-control[readonly]:not(:disabled) {
  border-color: rgb(244, 245, 245);
  background-color: rgb(244, 245, 245);
}

.form-control[disabled]:not(:read-only),
.form-select:disabled {
  color: rgb(230, 233, 237);
  border-color: rgb(230, 233, 237);
  background-color: #fff;
}

.form-control[disabled]:not(.flatpickr-input) {
  border-color: #fff;
  background-color: var(--bs-gray-300)
}

.form-select[disabled]:not(.flatpickr-input) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 11'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23e6e9ed; stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpolyline class='cls-1' points='1.5 1.5 9.5 9.5 17.5 1.5'/%3E%3C/g%3E%3C/svg%3E");
}

.form-control,
.form-select {
  font-size: 1.25rem;
  min-height: 3.125rem;
  border-color: rgb(244, 245, 245);
  background-color: rgb(244, 245, 245);
}

input:checked ~ label,
.form-check-input:checked ~ label,
.form-check-input[checked] ~ label {
  color: rgb(51, 51, 51);
}

/************************/
/*    form-input end    */
/************************/
