<div class="stepper-wrapper">
  <div class="stepper-item completed">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item active">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase.4') %></div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
  </div>
</div>